  <div class="review-animation fullset fade-up">
  {% if section.settings.text != blank %}
<h3 class="full center">{{ section.settings.text }}</h3>
   {% endif %} 
    
  <div class="review-sliderwrap">  
  <div class="review-slider">
  {% for block in section.blocks %}
  {% if block.settings.text != blank %}
    <div>
      <div class="review-box">
<div class="star-box star_{{ block.settings.stat }}">
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
</div>
        
 {{ block.settings.text }}
     {% if block.settings.title != blank %}
    <span class="full h4 center">{{ block.settings.title }}</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
   {% for block in section.blocks %}
  {% if block.settings.text != blank %}
    <div>
      <div class="review-box">
<div class="star-box star_{{ block.settings.stat }}">
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
    <i>{% render 'icon-star' %}</i>
</div>
        
 {{ block.settings.text }}
     {% if block.settings.title != blank %}
    <span class="full h4 center">{{ block.settings.title }}</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
 </div> 

  {% if section.settings.btn_label != blank %}
  <a href="{{ section.settings.btn_link }}" class="no_btn small_no_btn">{{ section.settings.btn_label }} {% render 'btn-arrow' %}</a>
   {% endif %}
    
  </div>

{% schema %}
  {
    "name": "Review slider",
    "class": "review-section",
    "settings": [

      {
                  "type": "text",
                  "id": "text",
                  "label": "Title"
              },
      {
                  "type": "text",
                  "id": "btn_label",
                  "label": "Button label"
              },
               {
                  "type": "url",
                  "id": "btn_link",
                  "label": "Button link"
              }
    ],
    "blocks":[
     {
        "type":"review",
         "name":"Review",
            "settings":[
              {
                  "type": "richtext",
                  "id": "text",
                  "label": "Text"
              },
               {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },
               {
                  "type": "text",
                  "id": "stat",
                  "label": "Star rating"
              }              
              
            ]
     }
    ],
    "presets": [
        {
            "name": "Review slider"
        }
    ]
  }
{% endschema %}